    /* @media only screen and (max-width:83em) {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width:75em) {
    html {
        font-size: 80%;
    }*/

    @media only screen and (max-width:75em) {
        html {
            font-size: 90%
        }

        #testimonials .gallery {

            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (max-width:68.75em) {
        html {
            font-size: 80%
        }


    }

    @media only screen and (max-width:59.375em) {

        main {
            height: auto;
        }

        #heroSec {
            flex-direction: column;
            align-items: center;
        }

        .heroSec {
            margin-top: 1.5rem;
            flex-flow: column;
            text-align: center;
            align-items: center;
            gap: 0;
        }

        .hero-txt {
            text-align: center;
        }

        .heroSec h1 {
            font-weight: 600;
            font-size: 2.25rem;
            align-self: stretch;
        }

        .hero-pic {
            /* display: none */
            width: 50%;
            text-align: center;
            padding: 0.25rem 0rem 3rem 0rem;
        }

        .customers {
            justify-content: center;
            margin-top: 0;
        }

        .btns {
            align-self: center;
        }

        .links {
            display: none;
        }

        .logo {
            width: 15%;
            margin-left: 0.75rem;
        }

        .t-dash {
            display: block;
        }

        .logos {
            justify-content: space-evenly;
        }

        .logos img {
            height: 1.125rem;
            filter: brightness(0);
            opacity: .5;
        }

        .howItWorks header p {

            font-size: 1.875rem;
        }

        #testimonials {
            padding-inline: 2.5rem;
        }

        #testimonials .container {

            flex-direction: column;
            gap: 2.5rem;
        }

        #testimonials .gallery {
            width: 100%;
            display: grid;
            gap: .625rem;
            justify-content: center;
            align-content: center;
            grid-template-columns: repeat(6, 1fr);
        }

        .body {
            width: 100%;
        }

        .feature-cards {
            display: grid;
            justify-content: center;
            /* justify-items: center; */
            grid-template-columns: repeat(2, minmax(19rem, 25rem));
            gap: 2rem 5rem;
        }

        form {
            grid-template-columns: 1fr;
        }

        .getMeal picture {
            width: 59rem;
            height: 45rem;
        }

        #footer>div {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 4rem;
            justify-content: center;
            align-items: center;
            justify-items: center;
        }

        .position-first {
            grid-row: 2/3;
        }

        .position-last {
            grid-column: 3/-1;

        }
    }

    @media only screen and (max-width:37.5em) {

        .logos img {
            max-height: .75rem;
        }

        .item {
            grid-template-columns: 1fr;
        }

        .mid-pic {
            grid-row: 4;
        }

        .howItWorks header p {


            font-size: 1.5rem;
        }


        .cards {

            grid-template-columns: 1fr;
            gap: 2rem 3rem;
        }

        .meal-card {
            width: 100%
        }

        #testimonials .gallery {
            grid-template-columns: repeat(4, 1fr);
        }

        .pricing-cards {
            flex-direction: column;
        }

        .feature-cards {
            display: flex;
            flex-direction: column;
        }

        .getMeal {
            flex-direction: column;
        }

        .getMeal picture {
            order: -1;
            width: 100%;
            height: 20rem;
            border-radius: 1.25rem 1.25rem 0rem 0rem;
        }
    }