* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-Clr: #CF711F;
    --sec-clr: #FDF2E9;
    --fnt-clr: #868e96;
}

body {
    font-family: "Rubik", sans-serif;
    color: var(--fnt-clr);
}