            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            html {
                scroll-behavior: smooth;
            }

            :root {
                --main-Clr: #CF711F;
                --main-Clr-dark: #A7540D;
                --sec-clr: #FDF2E9;
                --fnt-clr: #495057;
                --fnt-clr-mid: #343a40;
                --fnt-clr-headers: #333;
            }

            a {
                text-decoration: none;
                color: var(--fnt-clr);
                display: inline-block;
                transition: all 0.3s;
            }

            a:active,
            a:visited {
                border: .625rem #cf711f79 solid !important;
            }

            button {
                display: inline-block;
                padding: .75rem 1.5rem;
                background-color: var(--main-Clr);
                border-radius: .5rem;
                border: none;
                cursor: pointer;
            }

            img {
                width: 100%;
                /* overflow-clip-margin: content-box; */
                overflow: clip;
            }

            ul {
                list-style: none;
            }

            body {
                font-family: "Rubik", sans-serif;
                color: var(--fnt-clr);
                /* height: 10000px; */
            }

            .container {
                max-width: 75rem;
                margin-inline: auto;

            }

            main {
                background-color: var(--sec-clr);
                display: flex;
                align-items: center;
            }


            /******* navbar Section classes *******/

            nav {
                background-color: rgba(255, 255, 255, 0.9);
                z-index: 9999;
                position: fixed;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.25rem;
                box-shadow: 0 .125rem .625rem rgba(107, 107, 107, 0.07);
            }

            .logo {
                width: 12.5%;
                margin-left: 3rem;
                cursor: pointer;
            }

            .links {
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 1.5rem;
            }

            a:link,
            a :visited {
                color: var(--fnt-clr-headers);
                font-weight: 500;
            }

            a:hover,
            a:active {
                color: var(--main-Clr);
            }

            .links button {
                color: white;
                font-size: 1rem;
                font-weight: 700;
            }

            .x-but {
                display: none;
            }

            /*classes for less than 950 px*/

            .t-dash {
                display: none;
                background-color: transparent;
                font-size: 1.5rem;
                color: var(--fnt-clr);
            }

            .t-dash:hover {
                background-color: transparent;
            }

            nav.open {
                height: 100vh;
                width: 100%;
                background-color: #fff;
                position: relative;
                font-size: 1.5rem;
                position: fixed;
            }

            .open .logo,
            .open .t-dash {
                display: none;
            }

            .open .links {
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 50%;
            }

            .try-but {
                font-size: 1.5rem;
                color: #fff;
            }

            .open .x-but {
                display: block;
                color: var(--fnt-clr-headers);
                font-size: 2.25rem;
                background-color: #fff;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }

            /******* Hero Section classes *******/

            #heroSec {
                margin: 5rem 0 2rem 0;
                display: flex;
                /* max-width: 75rem;*/
                margin-inline: auto;
                /* background-color: #000; */
                /* align-items: center; */
                gap: 2rem;
            }

            .hero-txt {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;
                /* background-color: #fff; */
                padding: 3rem;
                gap: 2rem;
            }

            .hero-pic {
                padding: 2rem;
            }

            #heroSec h1 {
                font-size: 3rem;
                /* padding: 4rem 0.75rem 0 0; */
                color: var(--fnt-clr-headers);
                line-height: 1;
                align-self: flex-start;
                letter-spacing: -0.125rem;
            }

            #heroSec p {
                font-size: 1.125rem;
                line-height: 1.7;
            }

            .btns {
                align-self: flex-start;
            }

            .btns a {
                color: white;
                font-size: 1.25rem;
                font-weight: 700;
            }

            .btn--white {
                background-color: white;
                margin-left: 1.25rem;
                color: var(--fnt-clr)
            }

            .btn--white a {
                color: var(--fnt-clr-mid);
            }

            button:hover {
                background-color: var(--main-Clr-dark);
                transition: .3s;
            }

            button.btn--white:hover {
                background-color: transparent;
                border-color: white;
                border-width: .17rem;
                border-style: solid;
                transition: .3s;
            }

            .customers {
                margin-top: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                align-self: stretch;
            }

            .customers img {
                border-radius: 50%;
                height: 2.75rem;
                width: 2.75rem;
                border: white solid .2rem;
                margin-left: -0.75rem;
            }

            .customers p {
                font-size: 1rem;
                font-weight: 500;
            }

            .customers span {
                color: var(--main-Clr);
                font-weight: 700;
                margin-left: .75rem;
            }

            .customers img:first-child {
                margin-left: 0;
            }

            /*********featured in Section*********/

            .features-header {
                text-transform: uppercase;
                text-align: center;
                font-size: .875rem;
                color: var(--fnt-clr);
                font-weight: 600;
                margin-block: 2rem;
                opacity: .6;
            }

            .logos {
                display: flex;
                justify-content: space-between;
            }

            .logos img {
                height: 1.875rem;
                width: auto;
                filter: brightness(0);
                opacity: .5;
            }

            .logos {
                max-width: 59.375rem;
                margin-inline: auto;
                margin-bottom: 4rem;
            }


            /* header {
                width: 100%;
                background-color: #A7540D;
            } */

            header h2 {
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--main-Clr);
                font-weight: 600;
                margin: 2rem 0 1rem 0;
            }

            header p {

                color: var(--fnt-clr-headers);
                font-weight: 700;
                font-size: 2.75rem;
            }

            /*********How it works Section*********/
            #howItWorks {
                padding: 3rem;
            }

            #howItWorks header h2 {
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--main-Clr);
                font-weight: 600;
                margin: 2rem 0 1rem 0;
            }

            #howItWorks header p {

                color: var(--fnt-clr-headers);
                font-weight: 700;
                font-size: 2.75rem;
            }

            .items {
                margin-block: 6rem 0rem;
            }

            .item {
                display: grid;
                gap: 2rem 4rem;
                /* gap: 0px 64px; */
                grid-template-columns: 1fr 1fr;
                align-items: center;
                /* grid-auto-rows: auto; */
            }

            .num-header {
                display: block;
                font-size: 5.375rem;
                font-weight: 700;
                color: var(--fnt-clr);
                opacity: .4;
                /* align-self: end; */
            }

            #howItWorks picture {
                display: flex;
                position: relative;
            }

            #howItWorks picture img {
                width: 35%;
                height: auto;
                margin-inline: auto;

            }

            .item p {
                /* grid-row: 3/4; */
                line-height: 1.9;
            }

            .item h2 {
                margin: 0 0 1.5rem 0;
            }

            #howItWorks picture::after,
            #howItWorks picture::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;

            }

            #howItWorks picture::before {
                background-color: #fb76021e;
                height: 60%;
                width: 45%;
            }

            #howItWorks picture::after {
                background-color: #fb760219;
                height: 80%;
                width: 60%;
                z-index: -2;

            }

            /* Meals Section */
            #Meals {
                padding: 3rem;
                text-align: center;
            }

            #Meals header {
                text-align: center;
            }

            #Meals header h2 {
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--main-Clr);
                font-weight: 600;
                margin: 2rem 0 1rem 0;
            }

            #Meals header p {

                color: var(--fnt-clr-headers);
                font-weight: 700;
                font-size: 2.75rem;
                margin-bottom: 6rem;
            }

            .meals {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3rem;
            }

            .meal-card {
                width: 20.625rem;
                box-shadow: 0 0 .625rem .625rem #00000008;
                border-radius: .625rem;
                transition: all 0.5s;
            }

            .meal-card img {
                border-radius: .625rem;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .label {
                font-size: .75rem;
                padding: .125rem .5rem;
                border-radius: .625rem;
                font-weight: 700;
            }


            .g-label {
                background-color: #51cf66;
            }

            .y-label {
                background-color: #ffd43b;
            }

            .card-body {
                padding: 1.125rem 3rem;

            }

            .card-body ul {
                font-size: 1.125rem;
            }

            ul li {
                display: flex;
                align-items: center;
                gap: 1.25rem;
                margin-bottom: 1.5rem;
            }

            .card-body h3 {
                font-size: 1.5rem;
                margin-block: .75rem 2rem;
            }

            ion-icon {
                color: var(--main-Clr);
                font-size: 1.5rem;
            }

            span.card {
                font-weight: 500;
                color: var(--fnt-clr);
            }

            .meal-card:hover {
                transform: translate(0, -0.9375rem);
            }

            .worksWith p {

                color: var(--fnt-clr-headers);
                font-weight: 700;
                font-size: 1.875rem;
                margin-bottom: 2rem;
            }


            .worksWith ul {
                font-size: 1.125rem;
                display: flex;
                flex-flow: column wrap;
                gap: 1rem;
            }

            a.all-recps {
                color: var(--main-Clr);
                font-size: 1.125rem;
                padding-bottom: .125rem;
                border-bottom: .0625rem solid var(--main-Clr);
                transition: all 0.2s;
                margin-block: 3rem 6.125rem;
            }

            a.all-recps:hover {
                border-bottom-width: 0;
            }

            /*********TestimonialsSection*********/

            #testimonials {
                padding: 3rem;
                background-color: #FDF2E9;
                overflow: hidden;
            }

            #testimonials header h2 {
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--main-Clr);
                font-weight: 600;
                margin: 2rem 0 1rem 0;
            }

            #testimonials header p {

                color: var(--fnt-clr-headers);
                font-weight: 700;
                font-size: 2.75rem;
                margin-bottom: 4rem;
            }

            .body {
                width: 45%;
            }

            .cards {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem 3rem;
            }

            #testimonials .card img {
                border-radius: 50%;
                height: 3.875rem;
                width: 3.875rem;
                margin-bottom: .75rem;
            }

            #testimonials .card p {
                line-height: 1.7;
                font-size: 1.125rem;
            }

            #testimonials .gallery {
                width: 45%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: .625rem;

            }

            #testimonials .gallery picture {
                width: 100%;
                overflow: hidden;
            }

            #testimonials .container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                max-width: 80rem;

            }

            #testimonials .gallery img {
                width: 100%;
                transition: all 0.5s;
            }

            #testimonials .gallery img:hover {
                transform: scale(1.3);
            }

            #testimonials span {
                display: block;
                margin-top: .875rem;
                opacity: 0.8;

            }

            /*********Testing*********/
            #pricing {
                padding: 3rem;
            }

            .pricing-cards {
                margin-top: 6rem;
                display: flex;
                justify-content: center;
                gap: 4rem;
            }

            #pricing .card {
                text-align: center;
                padding: 1rem 4rem;
                box-shadow: 0 0 .125rem .125rem #FDF2E9;
                border-radius: .625rem;
            }

            #pricing .card header p {
                font-size: 3.875rem;
                margin-bottom: .5rem;
            }

            #pricing .card header p::before {
                content: '$';
                font-weight: 500;
                font-size: 1.875rem;
            }

            #pricing .card header+p {
                font-size: 1rem;
                opacity: 0.7;
                margin-bottom: 3rem;
            }

            #pricing ul {
                font-size: 1.125rem;
                font-weight: 400;
                margin-bottom: 4rem;

            }

            #pricing ul li i {
                color: #cf711fe4;
                font-size: 1.5rem;
            }

            #pricing button {
                margin-bottom: 2rem;
            }

            #pricing .special {
                position: relative;
                background-color: #FDF2E9;
                overflow: hidden;
            }

            #pricing .special::after {
                content: 'BEST VALUE';
                padding: .25rem 2rem;
                font-weight: 700;
                font-size: .875rem;
                position: absolute;
                top: 6%;
                right: -7.5%;
                background-color: #FFD43B;
                transform: rotate(45deg);
            }